body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e3e7;
}
header {
    background-image: url('backgroud.jfif');
    color: white;
    text-align: center;
    padding: 10px 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  .nav ul li{margin-right: 20px;}
.nav ul li:hover{background-color: black;
  padding: 10px;}
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.dm {
  width: 300px;
  height: 200px;
}
.dtsp{
  text-align: center;
  font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.ttsp{
    text-align: center;
    font-size: 50px;
    color: palevioletred;
  }
  .ct{
    display: flex;
    justify-content: space-around;
    flex: 1;
    text-align: center;

}